.main-cont{
display:inline-flex;

}
.child{
  padding:12px;
  padding-left: 4px;
  padding-bottom: 34px;
  font-size: xx-large;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .brand-logo{
    font-size: 18px;
    line-height: 0;
    color: rgb(166, 194, 214);
  }
   .route{
    color: rgb(23, 23, 23);
   }
  
   .side{
    background: rgb(25, 25, 25);
    color: white;
    height: 100%;
    margin-top: 1px;
    border-radius: 0px 23px 34px 0px;
  }
  
  .connect{
    display: flex;
    gap: 17px;
    margin-left: 5px;
    margin-top: 20px;
    color:#fff;
    overflow: hidden;
    padding: 5px 10px;
  }
  a{
    text-decoration: none;
  }
  
  
   .social-icons{
    display: flex;
    overflow: hidden;
    font-size: xx-large;
    padding: 5px;
    gap: 13px;
    color: rgb(235, 234, 234);
    margin-left: 4vh ;
    margin-top: 17vh;
    
    
  }

   
  
  
  @media  (min-width:1200px)  {
    .side{
      height: 100vh;
      
  
    }
    .text-per:hover{
      
      transition: all 0.2s step-end;
      border-radius: 0 23px;
      font-size: 24px;
      overflow: hidden;
      background: rgb(105, 106, 105);
    }
    .social-icons{
      margin-top: 40vh ;
      color: #fff;
      
    }
    
  }
  
  @media (min-width:50px) and (max-width:1100px){
    .side{
      overflow:hidden;
      height: 50vh;
      width: 100%;
      /* margin-left: 10px; */
    }
    .text-per{
      font-size: 20px;
    }

    .text-per:hover{
      font-size: smaller;
      border-radius: 2px solid whitesmoke;
      
    }
    .social-icons{
      overflow: visible;
      margin-top: 4vh ;
      color: #fff;
      margin-right: 5px;
      margin-left: 25px;
    }
    
  }
  
  
  