.banner {
    display: flex;
    position: absolute;
    margin-top: 12px;
    width: 95%;
    height: 90%;
    padding: 260px 0 100px 0;
    background-image: url(../../Images/trail-1.png);
    /* background: linear-gradient(23deg,black,white); */
    background-position: top center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 23px  23px  23px 23px ;
    
  }
  
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    margin-top: 16px;
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
 
  .banner  h1 {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate{
    content: ' ';
    color: aqua;
  }
  .txt-rotate > .wrap {
    border-right: 0.08 solid #666;
  }


  @media (min-width:50px) and (max-width:1200px) {
    .banner{
        display: flex;
        position: absolute;
        /* background-position:  center; */
    background-size:cover;
    background-repeat: no-repeat;
    }
    
    
  }